# Reusable workflow to install SDL2 for Windows using MSYS2.
name: install-sdl2-reusable
on:
  workflow_call:
    inputs:
      msystem:
        required: false
        type: string
        default: MINGW64

jobs:
  install-sdl2:
    runs-on: windows-latest
    outputs:
      added-path: ${{ steps.add_path.outputs.path }}
    steps:
      - name: Install SDL2 via MSYS2
        uses: msys2/setup-msys2@v2
        with:
          msystem: ${{ inputs.msystem }}
          update: true
          install: >
            ${{ inputs.msystem == 'MINGW64' && 'mingw-w64-x86_64-SDL2 mingw-w64-x86_64-pkg-config mingw-w64-x86_64-toolchain' || 'mingw-w64-i686-SDL2 mingw-w64-i686-pkg-config mingw-w64-i686-toolchain' }}
      - name: Add MinGW bin to PATH
        id: add_path
        run: |
          if [ "${{ inputs.msystem }}" = "MINGW64" ]; then
            echo "C:\msys64\mingw64\bin" >> $GITHUB_PATH
            echo "::set-output name=path::C:\\msys64\\mingw64\\bin"
          else
            echo "C:\msys64\mingw32\bin" >> $GITHUB_PATH
            echo "::set-output name=path::C:\\msys64\\mingw32\\bin"
          fi
        shell: bash